.wrapper {
  margin-top: 64px;
  color: #444F5A;
}

section {
  display: grid;
  grid-gap: 32px;
  // grid-auto-rows: minmax(100px, auto);
}

.one {
  grid-column: 1 / 2;
  border-top-left-radius: 40px;
  border-bottom-left-radius: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  h2 {
    padding-top: 8px;
  }
}
.two {
  grid-column: 2 / 2;
  border-top-right-radius: 40px;
  border-bottom-right-radius: 40px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.three {
  grid-column: 1 / 2;
  border-top-left-radius: 40px;
  border-bottom-left-radius: 40px;
  height: fit-content;
}
.four {
  border-top-right-radius: 40px;
  border-bottom-right-radius: 40px;
  grid-column: 2 / 2;
}
.five {
  grid-column: 2 / 2;
  border-top-right-radius: 40px;
  border-bottom-right-radius: 40px;
}

.kit-gear {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;

  .preview-gear {
    margin: 24px 32px;

  }
}
.bookings-gear {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;

  .preview-gear {
    margin: 24px 32px;

  }
}

.kit-padding {
  padding-left: 8px;
  margin-bottom: 0;
}
