<div class="footer">
  <div class="footer-info">
    <a href="">terms & condition</a>
    <a href="">confidentiality</a>
  </div>
  <div class="footer-contact">
    <a href="">contact</a>
    <a href="">about</a>
    <a href="">social medias</a>
  </div>
</div>
