<div class="navbar">
  <h1 class="nav-title">Get Geared</h1>
  <div class="search-bar">
    <a class="nav-search-element" href="">What gear?</a>
    <a class="nav-search-element" href="">When?</a>
    <input class="nav-search-element" type="text" placeholder="Search...">
  </div>
  <div class="user-options">
    <a href="">Upload Gear</a>
    <div class="user-dropdown">
      <i class="fa-solid fa-bars"></i>
      <%= image_tag "thomas.JPG", alt: 'avatar', class: 'avatar' %>
    </div>
  </div>
</div>
