<h1>This is the index page</h1>

<ul>
    <% @gears.each do |gear| %>
        <li>
            <%= link_to gear_path(gear) do %>
                <%= gear.name %>
            <% end %>
             - <%= gear.price %>€/day
        </li>
    <% end %>
</ul>
