.card-container {
  display: grid;
  margin-top: 8px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 8px;
}

.card-product {
  display: flex;
  flex-direction: column;
  p {
    margin: 0;
  }
  img {
    border-radius: 8px;
    width: 100%;
    margin-bottom: 8px;
  }
}

.card-picture {
  position: relative;
  display: flex;
  justify-content: center;

  .card-dot {
    position: absolute;
    bottom: 10%;
    font-size: 0.5rem;
    display: flex;
    p {
      margin-left: 2px;
      color: white;
      text-shadow: 0 3px 3px rgba(0,0,0,0.3);
    }

  }
  .card-favorite {
    position: absolute;
    top: 5%;
    right: 5%;
    color: rgba(0,0,0,0.5);
    font-size: 1.5rem;
    i {
      -webkit-text-stroke: 2px white;
    }
  }

}

.card-description-bold {
  margin-top: 8px;
  font-weight: bold;
}

.photos-card {
  margin-top: 8px;
  display: flex;
  gap: 8px;
  border-radius: 40px;
}


.photos-card img {
  border-top-left-radius: 40px;
  border-bottom-left-radius: 40px;
  height: auto;
  max-width: 100%;
}

.description-card {
  background-color: #FFFFFF;
  border-top-right-radius: 40px;
  border-bottom-right-radius: 40px;
  padding: 8px 16px;
  display: flex;
  flex-direction: column;
  border: #444F5A solid 1px;
}

.practical-info-card {
  display: flex;
  justify-content: space-between;
  padding: 8px;
  border-top: 1px solid rgba($color: #444F5A, $alpha: 0.4);

  p {
    padding-top: 8px;
  }

}
