.gears-body {
  // background-color: red;
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.map-container {
  position: sticky;
  top: 32px;
  margin: 32px 16px;
  height: 80vh;
}

.map {
  width: 100%;
  height: 80vh;
  border-radius: 16px;
}

.card-container {
  display: grid;
  margin-top: 32px;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 24px;
}

.card-container:hover {
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.11);
}

@media (max-width: 720px) {
  grid-template-columns: 1fr 1fr;
}

@media (max-width: 520px) {
  grid-template-columns: 1fr;
}

.card-product {
  display: flex;
  flex-direction: column;
  p {
    margin: 0;
  }
  a {
    text-decoration: none;
    color: #444F5A;
  }
}

.card-background-image {
  width: 300px;
  height: 200px;
  background-size: cover;
  background-position: center;
  border-radius: 16px;
}

.card-picture {
  position: relative;
  display: flex;
  justify-content: center;

  .card-dot {
    position: absolute;
    bottom: 10%;
    font-size: 0.5rem;
    display: flex;
    p {
      padding: 3px;
      color: rgba($color: white, $alpha: 0.7);
      text-shadow: 0 3px 3px rgba(0,0,0,0.3);
    }

  }
  .card-favorite {
    position: absolute;
    top: 5%;
    right: 5%;
    color: rgba(0,0,0,0.5);
    font-size: 1.5rem;
    i {
      -webkit-text-stroke: 2px white;
    }
  }

}

.card-description {
  padding-left: 8px;
  padding-top: 4px;
}

.card-description-bold {
  font-weight: bold;
}

.photos-card {
  margin-top: 8px;
  display: flex;
  gap: 8px;
  border-radius: 40px;
}


.photos-card img {
  border-top-left-radius: 40px;
  border-bottom-left-radius: 40px;
  max-width: 400px;
  height: auto;
  object-fit: cover;
}

.description-card {
  background-color: #FFFFFF;
  border-top-right-radius: 40px;
  border-bottom-right-radius: 40px;
  padding: 8px 16px;
  display: flex;
  flex-direction: column;
  border: #444F5A solid 1px;
}

.practical-info-card {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-gap: 16px;
  padding: 8px;
  border-top: 1px solid rgba($color: #444F5A, $alpha: 0.4);
  p {
    padding-top: 8px;
  }
}

.user-card {
  text-align: center;
  display: block;
  // flex-direction: column;
  // justify-content: space-between;
  // align-items: baseline;
  p {
    padding-top: 4px;
  }

  img {
    width: 80px;
    height: 80px;
    padding-top: 4px;
    border-radius: 50%;
  }
}

.user-infos {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  padding: 8px;
  // background-color: red;
}

.reviews {
  display: block;
  height: 250px;
  padding: 16px;
  // box-shadow: 0 0 4px rgba(0, 0, 0, 0.15);
  overflow: scroll;
}

.reviews::-webkit-scrollbar {
  display: none;
}

.review {
  background-color: rgba(235, 190, 148, 0.05);
  padding: 16px;
  margin: 16px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.review-top {
  display: flex;
  justify-content: left;
  // padding: 16px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}

.btn-review {
  display: flex;
  justify-content: right;
  align-items: flex-end;
  margin-right: 40px;
  // margin-bottom: 16px;
  a {
    object-position: right;
    text-decoration: none;
    color: black;
    padding: 8px 12px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.15);
  }
  a:hover {
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.35);
  }
}

.user-photo-card {
  text-align: center;
}

.profile-card {
  border-radius: 40px;
  border: #444F5A solid 1px;
  padding: 16px 32px;

  a {
    text-decoration: none;
    color: #444F5A;
  }
}

.card-profile-image {
  width: 200px;
  height: 150px;
  background-size: cover;
  background-position: center;
  border-radius: 16px;
}
