.card-container {
  display: grid;
  margin-top: 32px;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 32px;
}

.card-product {
  display: flex;
  flex-direction: column;
  p {
    margin: 0;
  }
  a {
    text-decoration: none;
    color: #444F5A;
  }
}

.card-background-image {
  width: 400px;
  height: 300px;
  background-size: cover;
  background-position: center;
  border-radius: 16px;
}

.card-picture {
  position: relative;
  display: flex;
  justify-content: center;

  .card-dot {
    position: absolute;
    bottom: 10%;
    font-size: 0.5rem;
    display: flex;
    p {
      padding: 3px;
      color: rgba($color: white, $alpha: 0.7);
      text-shadow: 0 3px 3px rgba(0,0,0,0.3);
    }

  }
  .card-favorite {
    position: absolute;
    top: 5%;
    right: 5%;
    color: rgba(0,0,0,0.5);
    font-size: 1.5rem;
    i {
      -webkit-text-stroke: 2px white;
    }
  }

}

.card-description {
  padding-left: 8px;
  padding-top: 4px;
}

.card-description-bold {
  font-weight: bold;
}

.photos-card {
  margin-top: 8px;
  display: flex;
  gap: 8px;
  border-radius: 40px;
}


.photos-card img {
  border-top-left-radius: 40px;
  border-bottom-left-radius: 40px;
  height: 300px;
  width: 400px;
  object-fit: cover;
}

.description-card {
  background-color: #FFFFFF;
  border-top-right-radius: 40px;
  border-bottom-right-radius: 40px;
  padding: 8px 16px;
  display: flex;
  flex-direction: column;
  border: #444F5A solid 1px;
}

.practical-info-card {
  display: flex;
  justify-content: space-between;
  padding: 8px;
  border-top: 1px solid rgba($color: #444F5A, $alpha: 0.4);

  p {
    padding-top: 8px;
  }

}

.user-card {
  width: 50px;
  height: 50px;
  
}
