.preview {
  text-decoration: none;
  color: black;
  border-radius: 16px;
  &:focus {
    outline: 0;
  }
}

.mapboxgl-popup {
  max-width: 2o0px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: "Open Sans", sans-serif;
}

.pop-photo img {
  width: 100px;
  height: 80px;
  border-radius: 16px;
}

.pop-info {
  // background-color: blue;
}

.poo-descr {
  width: 200px;
}
